<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <configSections>
        <section name="CassandraSharp"
                 type="CassandraSharp.SectionHandler, CassandraSharp" />
        <section name="log4net"
                 type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>


    <CassandraSharp>
        <Cluster name="DefaultCluster">
            <Endpoints>
                <Server>localhost</Server>
            </Endpoints>
        </Cluster>
    </CassandraSharp>

    <log4net>
        <!-- A1 is set to be a ConsoleAppender -->
        <appender name="Cassandra"
                  type="CassandraSharp.Contrib.log4net.Logging.CassandraAppender, CassandraSharp.Contrib.log4net">

            <ClusterName value="DefaultCluster" />
            <Keyspace value="Logging" />
            <ColumnFamily value="Entries" />
            <ConsistencyLevel value="ONE" />
            <AppName value="TestApp" />

            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
            </layout>
        </appender>

        <!-- Set root logger level to DEBUG and its only appender to A1 -->
        <root>
            <level value="DEBUG" />
            <appender-ref ref="Cassandra" />
        </root>
    </log4net>


</configuration>